.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 110px;
    padding: 9px 20px;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 999px;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.primary {
    color: var(--white);
    background-color: var(--primary-color);

    &:hover {
        opacity: 0.9;
    }
}

.outline {
    color: var(--black);
    border: 2px solid var(--black);

    &:hover {
        color: var(--white);
        background-color: var(--black);
    }

}

.more {
    padding: 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    background-color: transparent;
}

.disable {
    pointer-events: none;
    opacity: 0.5;
}

.icon {
    text-align: center;
}
