.wrapper {
    padding: 0 44px 44px;
}

.input {
    display: block;
    margin: 0 0 50px;
    width: 100%;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.4;
    border-bottom: 1px solid rgb(22 24 35 /0.12);
    transition: all 0.3s ease-in-out;
}

.noInput {
    font-size: 4rem;
    .header-tabs {
        display: none;
    }
}

.result-container {
    padding-right: 400px;
}

.header-tabs {
    margin-top: 16px;
}

.tab-list {
    display: flex;
    font-weight: 500;
    gap: 20px;
}

.tab-list-item {
    position: relative;
    color: rgb(22 24 35 /0.6);
    min-width: 80px;
    padding-bottom: 14px;

    &:hover {
        color: var(--dark);
    }
}

.active {
    color: var(--dark);
    font-weight: 700;

    &::after {
        content: '';
        position: absolute;
        bottom: 3px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--dark);
    }
}

.separator {
    margin: 8px 0;
    height: 1px;
    width: 100%;
    background-color: rgb(22 24 35 /0.12);
}

.not-found,
.loading {
    font-size: 1.4rem;
    padding: 32px 0;
    display: block;
    color: rgb(22 24 35/0.65);
}

.course-result {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.course-result + .course-result {
    border-top: 1px solid rgb(22 24 35 /0.12);
}

.poster {
    padding-top: 17%;
    min-width: 280px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
}

.info {
    padding-left: 20px;
    margin-top: 16.6px;
}

.title {
    font-size: 2rem;
    font-weight: 500;
}

.description {
    font-size: 1.4rem;
    color: rgb(22 24 35 /0.75);
}

@media (max-width: 1113px) {
    .result-container {
        padding: 0;
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .wrapper {
        padding: 0;
    }

    .course-result {
        flex-direction: column;
    }

    .poster {
        min-height: 180px;
        width: 100%;
        padding-top: 56.25%;
    }
}

@media (min-width: 1113px) and (max-width: 1350px) {
    .result-container {
        padding-right: 200px;
    }
}
