.wrapper {
    position: sticky;
    top: 0;
    left: 0;
    padding: 0 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    height: 66px;
    background-color: var(--white);
    border-bottom: 1px solid rgb(22 24 35 / 0.1);
    z-index: 20;
}

.logo-container {
    flex-basis: 40%;
    display: flex;
    align-items: center;
}

.logo {
    width: 48px;
    cursor: pointer;
}

.slogan {
    margin-left: 10px;
    font-weight: 500;
}

.more-btn,
.search-btn {
    display: none;
    flex-basis: 30%;
    font-size: 20px;
    color: rgb(22 24 35 /0.6);
}

.avatar-container {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 999px;
    object-fit: cover;
    cursor: pointer;
}

//Tablet and Phone: width: < 1024px
@media only screen and (max-width: 63.9375em) {
    .logo-container {
        display: none;
    }
    .more-btn {
        display: flex;
    }
}

//Phone: width < 740px
@media only screen and (max-width: 46.1875em) {
    .wrapper {
        padding: 0 16px;
    }

    .search-container {
        display: none;
    }

    .avatar-container {
        flex-basis: 0;
        gap: 20px;
    }

    .search-btn {
        display: flex;
    }
}

//Tablet: width >= 740px and width < 1024px
// @media only screen and (min-width: 46.25em) and (max-width: 63.9375) {
    
// }
