:root {
    --search-width: 420px;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 40px;
    width: var(--search-width);
    font-size: 1.6rem;
    border: 2px solid rgb(22 24 35/0.12);
    border-radius: 999px;
    transition: all 0.3s ease-in-out;


    &:focus-within {
        border: 2px solid rgb(22 24 35/0.75);
    }

    input:not(:placeholder-shown) .search-icon {
        color: red;
        background-color: red;
    }
}

.search-btn {
    font-size: 1.8rem;
    color: rgb(22 24 35 /0.6);
    background-color: transparent;

    &:hover {
        color: rgb(22 24 35 /0.75);
    }
}

.search-input {
    flex: 1;
    padding: 0 6px;
    height: 100%;
    line-height: 1.5;
    caret-color: var(--primary-color);
    color: var(--text-color);

    &::placeholder {
        font-size: 1.4rem;
    }
}

.clear-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    color: rgb(22 24 35 /0.6);
    background-color: transparent;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-results {
    width: var(--search-width);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.search-wrapper {
    padding: 12px 24px;
    max-height: calc(90vh - 66px);
    min-height: 38px;
    width: 100%;
    min-width: 230px;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}

.search-filter {
    position: relative;
    display: flex;
    align-items: center;
}

.icon-search {
    position: absolute;
    font-size: 1.4rem;
    color: rgb(22 24 35 /0.5);
}

.icon-loading {
    position: absolute;
    left: 0;
    top: 50%;
    color: rgb(22 24 35 /0.5);
    font-size: 1.2rem;

    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.input-value {
    color: rgb(22 24 35 /0.5);
    margin-left: 25px;
}
