.wrapper {
    padding: 8px 44px 74px;
}

@media (max-width: 1023px) {
    .wrapper {
        padding: 0;
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .wrapper {
        padding: 0 16px;
    }
}
